{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        body {
            background-image: url("{% static 'images/tottenham_stadium.jpg' %}");
            background-size: cover; /* 이미지가 화면을 꽉 채우도록 */
            background-repeat: no-repeat; /* 이미지를 반복하지 않도록 */
            background-position: center; /* 이미지가 가운데에 위치하도록 */
            height: 100vh; /* 뷰포트 높이 전체를 채움 */
            margin: 0; /* 모든 마진 제거 */
        }
        h1 {
            color: white !important; /* 텍스트 색상 지정 */
            position: absolute;
            top: 70%;
            left: 40%;
            transform: translate(-40%, -50%);
            font-size: 4em !important;
            font-weight: bold !important;
        }
    </style>
    <h1>Come On You Spurs!</h1>
{% endblock %}