<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
    </head>
    <body>
            {% block content %}
            <!-- Page Content-->
            <div class="container px-4 px-lg-5">
                <!-- Heading Row-->
                <div class="row gx-4 gx-lg-5 align-items-center my-5">
                    {% if content_list %}
                        {% for content in content_list %}
                            <div class="col-lg-7 mb-4"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
                                <div class="col-lg-5 mb-4">
                                    <h1><a href="/product/{{ content.id }}/"></a>{{ content.title }}</h1>
                                    <p>{{ content.content | striptags | truncatechars:100 }}</p>
                                    <a class="btn btn-primary" href="{%  url 'detail' content.id %}">상세보기</a>
                                </div>
                            <br>
                        {% endfor %}
                    {% else %}
                        <p>content가 없습니다.</p>
                    {% endif %}
                </div>
                <!-- Call to Action-->
                <!-- Content Row-->
            </div>
        {% endblock %}
    </body>
</html>