<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
    </head>
    <body>
        <!-- Footer-->
        <footer class="py-5 bg-dark mt-auto">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">© 2024 Tottenham FC. All rights reserved. No part of this site may be reproduced without our written permission.
</p></div>
        </footer>
    </body>
</html>